{% extends 'base.html' %}
{% load ratings %}
{% load static %}

{% include "star_ratings/widget_base.html" %}


{% block content %}
<div class="course_content">
<div id="w-node-564d076d2b52-2f50b40a" class="single_course_main">
  <div class="div-block-course_main">
    <div class="div-block-70"><img src="/static/{{course.image_field}}" alt="" width="370" height="280"></div>
    <div class="div-block-58">
      <div class="div-block-59">
        <div class="text-block-16">{{ course.course_name }}</div><a href="#" class="button-7 w-button">Start Course!</a></div>
        {% if course_access == True %}
      <div class="div-block-60">
        <div class="text-block-17">

          {% ratings course %}


           </div>
      </div>
        {% endif %}
      <div class="div-block-61">
        <div class="text-block-18">Last updated: {{course.last_updated}}</div>
      </div>
    </div>
    <div class="div-block-62">
      <div id="w-node-fc41453947d6-2f50b40a" class="div-block-73">
        <h3 class="heading-8">{{ course.course_name }}</h3>
      </div>
      <div>

        <div class="div-block-64">
          <div id="w-node-d982b6189be6-2f50b40a" class="div-block-65"><img src="{% static "images/youtube.svg" %}" width="40" height="40" alt="" class="image-15"></div>
          <div>
            <div class="text-block-19">{{ section_counter }} Videos</div>
          </div>
        </div>
        <div class="div-block-64">
          <div id="w-node-d982b6189be6-2f50b40a" class="div-block-65"><img src="{% static "images/youtube.svg" %}" width="40" height="40" alt="" class="image-15"></div>
          <div>
            <div class="text-block-19">{{ course.role }}</div>
          </div>
        </div>
        <div class="div-block-66">
          <div id="w-node-dd614ee0be87-2f50b40a" class="div-block-65"><img src="{% static "images/graphic.svg" %}" width="40" height="40" alt="" class="image-16"></div>
          <div>
            <div class="text-block-19">{{ course.experience }}</div>
          </div>
          <div id="w-node-58be87151641-2f50b40a">
            <div class="div-block-67">
              <div class="text-block-20">Recomended For</div>
              {% for rank in recommended_ranks %}
              <div class="div-block-68"><img src="/static/ranked_helmets/{{rank}}.webp" width="40" height="40" alt="" class="image-11">
                <div class="text-block-21">{{ rank }}</div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block-63">
      <div class="div-block-72">
        <h3 class="heading-9"></h3>
        <div class="div-block-71">
          <div class="text-block-23"></div>
        </div>
      </div>
      <div>
        <h3 class="heading-9">About this course</h3>
        <p class="paragraph">{{ course.description}} </p>
      </div>

      <div>
        <h3 class="heading-9">Course Breakdown</h3>
        {% for section in sections %}
        <p class="paragraph">- {{section.section_title}}<br>
        {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}
