
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="main_content_tutor_course_creator">

    <div class="course_creator">

      <div id="w-node-0266543ea61e-e5af0bb0" class="div-block-36" style="margin-top: 80px; width: auto; border-radius: 20px;">
        <h3 class="heading-7">Course Details</h3>
        <div class="form-block-7 w-form" style="margin-top: 20px;">
          <form id="wf-form-Course-Form" name="wf-form-Course-Form" data-name="Course Form" enctype="multipart/form-data" class="form-5" method="POST" action="{% url "course_creator" %}">
            {% csrf_token %}
            <label for="name-2" id="w-node-cc89db5d5cf5-e5af0bb0">Course Name</label>{{ form.course_name }}{% if form.course_name.errors %}<br>{{form.course_name.errors}}{% endif %}
            <label for="email-2">Rank (Separted by comma)</label>{{ form.rank }}{% if form.rank.errors %}<br>{{ form.rank.errors }}{% endif %}
            <label for="email-3">Role</label> {{ form.role }}{% if form.role.errors %}<br>{{ form.role.errors }}{% endif %}
            <label for="email-3">Experience</label>{{ form.experience }}{% if form.experience.errors %}<br>{{ form.experience.errors }}{% endif %}
            <label for="email-3">Tags(Separted by comma)</label>{{ form.tags }}{% if form.tags.errors %}<br>{{ form.tags.errors }}{% endif %}
            <label for="email-3">Price</label> {{ form.price }}{% if form.price.errors %}<br>{{ form.price.errors }}{% endif %}
            <label for="email-3">Course Logo</label> {{ form.image_field }}{% if form.image_field.errors %}<br>{{ form.image_field.errors }}{% endif %}
            <button type="submit"  data-wait="Please wait..." id="w-node-cc89db5d5cfb-e5af0bb0" class="submit-button-3 w-button">Go to section creator</button></form>
          <div class="w-form-done"></div>
          <div class="w-form-fail"></div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="text-block-5">Sorry course creator is not available<br>on mobile devices.</div>
    </div>
  </div>
  <script>

    var form_fields = document.getElementsByTagName('input')

    form_fields[0].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";
    form_fields[1].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";
    form_fields[2].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";
    form_fields[3].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";
    form_fields[4].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";
    form_fields[5].className += "w-node-cc89db5d5cf7-e5af0bb0 ";

    var selection_fields = document.getElementsByTagName('select')
    selection_fields[0].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";
    selection_fields[1].className += "w-node-cc89db5d5cf7-e5af0bb0 w-input";





  </script>
{% endblock %}
