{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_content">
  <div class="div-block-51">
    <div class="dashboard">
      <div class="div_summoner_details_left">
        <div id="w-node-946439216b8c-1894b350" class="summoner_nick_column"><img id="summoner_icon" src="{% static profile_icon %}" width="50" height="50" alt="" class="image-2 {{css_icon_color}}"><figcaption class="caption_level {{css_icon_color}}"><p class="caption_p {{css_icon_color}}">{{summoner_level}}</p></figcaption>
          <div class="text_dashboard" id="username">{{summoner_name}}<br>Last played: {{last_played}}.<br> <button style="background-color: transparent; color: white; " class="msgLink" id="openUploadGameplayForm" onclick="styleMe()"> Upload Gameplay</button> <br> <button style="background-color: transparent; color: white; " id="messages_btn_dash" class="msgLink"> Messages {% if new_messages_number > 0 %}(<strong style="color:red;">{{new_messages_number}}</strong>) {% endif %}</button></div>

        </div>
        <div class="ranked_details" id="ranked_detail">
          <div id="w-node-d06d34624fae-1894b350" class="div-block-10">
            <div class="ranked_text {{current_tier}}" id="rank">Ranked Solo</div>
            <div class="helmet_container {{css_color_class}}" id="ranked_helmet"><img src={% static ranked_helmet_path %} width="140" alt="" class="image-3" id="helmet_img"></div>
          </div>
          <div id="w-node-755cae25c600-1894b350" class="ranked_details_container">

            <div class="rank_text {{current_tier}}" id="rank">{{current_tier}} {{current_rank}}</div>
            <div class="current_lp {{current_tier}}" id="current_lp"><strong>{{current_lp}} </strong></div>
            {% if current_win_ratio < 45 %}
            <div class="current_win_ratio {{current_tier}}" id="current_win_ratio" ><strong>{{current_wins}}W</strong><strong> {{current_loses}}L</strong><strong style="color:red;"> ({{current_win_ratio}}%)</strong></div>
            {% elif current_win_ratio <= 50 %}
            <div class="current_win_ratio {{current_tier}}" id="current_win_ratio" ><strong>{{current_wins}}W</strong><strong> {{current_loses}}L</strong><strong style="color: white;"> ({{current_win_ratio}}%)</strong></div>
            {% elif current_win_ratio > 50 %}
            <div class="current_win_ratio {{current_tier}}" id="current_win_ratio" ><strong>{{current_wins}}W</strong><strong> {{current_loses}}L</strong><strong style="color:green"> ({{current_win_ratio}}%)</strong></div>
            {% endif %}
          </div>
        </div>
        <div id="w-node-91bfc7a5ed0c-1894b350" class="latest_courses" id="latest_courses">
          <div id="w-node-d62c91c30696-1894b350" class="div-block-88">
            <div class="courses_title_text">SUGGESTED COURSES </div>
          </div>
          <div class="div-block-89">
            {% for course in suggested_courses %}
            <div class="div-block-90" style="text-align: center; ">
            <a href="{% url 'course' pk=course.id %}"><img src="static/{{course.image_field}}" width="270" height="150"  sizes="(max-width: 479px) 79vw, 220px" alt="" class="image-5"></a>
            </div>
            {% endfor %}


          </div>
        </div>
      </div>
      <div class="div_summoner_details_right">
        <div class="detailed_graph" id="graph_area"><div id="tester" style="width:100%;height:100%;"></div></div>
        <div class="div_summoner_details_right_divblock">
          <div id="w-node-a582a43dd217-1894b350" class="select_role_game_type">
            <div class="form-block-4 w-form">
              <div class="dashboard_text">Match Details</div>
              <form id="match_list" name="matches" data-name="match_form" class="form_match_list_query w-node-0bb3b520c9e3-1894b350">
                <select id="Role" name="Role" data-name="Role" class="select-field_matches w-select">
                  <option value="main">Role</option><option value="Mid">Mid</option>
                  <option value="Jungle">Jungle</option>
                  <option value="ADC">ADC</option>
                  <option value="Support">Support</option>
                  <option value="Top">Top</option>
                </select>
                <select id="Game-Type" name="Game-Type" data-name="Game Type" class="game_type_select w-select">
                  <option value="main">Type</option>
                  <option value="ranked">ranked</option>
                  <option value="normal_draft">normal draft</option>
                  <option value="blind_pick">blind pick</option>
                </select>
                <input type="submit" value="Reload List" data-wait="Please wait..." class="submit-button-4 w-button" id="reloadButton" onclick="matchReload()">
              </form>

            </div>
          </div>
          <div id="w-node-71eada2b0d4c-1894b350" class="most_played_champions" id="most_played_champions">
            <div id="w-node-17b7472c3ea4-1894b350">
              <div class="dashboard_text">Last matches list</div>
            </div>
            <div class="div-block-8" id="champions_stats">

              <div id="w-node-56f8bfaff42a-1894b350" class="div_stats"><img src="{% static most_recent_champ.champion_icon %}" width="50" height="50" alt="" class="image_stats_1">
                <div class="text-block-4">{{most_recent_champ.win_rate}}% {{most_recent_champ.wins}}W-{{most_recent_champ.loses}}L <br> {{most_recent_champ.KDA}} KDA </div>
              </div>
              <div class="div-block-9"><img src="{% static second_recent_champ.champion_icon %}" width="50" height="50" alt="" class="image_stats_2">
                <div class="text-block-4">{{second_recent_champ.win_rate}}% {{second_recent_champ.wins}}W-{{second_recent_champ.loses}}L <br> {{second_recent_champ.KDA}} KDA</div>
              </div>
              <div class="div-block-9"><img src="{% static third_recent_champ.champion_icon %}" width="50" height="50" alt="" class="image_stats_3">
                <div class="text-block-4">{{third_recent_champ.win_rate}}% {{third_recent_champ.wins}}W-{{third_recent_champ.loses}}L <br> {{third_recent_champ.KDA}} KDA</div>
              </div>
            </div>
          </div>

          <div class="matches_details">
            {% if message %}
            <div class="message_box">{{message}}</div>
            {% endif %}
            {% for every_match in matches_list %}
            <a href="{{every_match.game_url}}" class="link_a">
            <div class="div-block-80" id="match_tab" onmouseover="addEl(this)">
              {% if every_match.win == True and every_match.KDA > 5 %}
              <div class="div-block-81" id="champion_icon_div" style="border-left: 5px solid gold"><img src="{% static every_match.champion_icon %}" alt="" id="champion_icon_img" width="60" height="60" style="border-radius: 2px;"></div>
              {% elif every_match.win == False %}
              <div class="div-block-81" id="champion_icon_div" style="border-left: 5px solid rgb(255, 88, 89)"><img src="{% static every_match.champion_icon %}" alt="" id="champion_icon_img" width="60" height="60" style="border-radius: 2px;"></div>
              {% else %}
              <div class="div-block-81" id="champion_icon_div" style="border-left: 5px solid #18a2b8"><img src="{% static every_match.champion_icon %}" alt="" id="champion_icon_img" width="60" height="60" style="border-radius: 2px;"></div>
              {% endif %}
              <div class="div-block-83">
                {% if every_match.win == True and every_match.KDA > 5 %}
                <div class="text-block-25" id="match_result" style="color: gold;">Victory</div>
                {% elif every_match.win %}
                <div class="text-block-25" id="match_result" style="color: #18a2b8">Victory</div>
                {% else %}
                <div class="text-block-25" id="match_result" style="color: rgb(255, 88, 89);">Defeat</div>
                {% endif %}
                <div class="div-block-82" id="lane_div"><img src="{% static every_match.role %}" width="30" height="30" alt="" class="image-18" id="lane_icon"></div>
              </div>
              <div id="w-node-fd96ce8167c8-1894b350" class="div-block-84" id="stats_div">
                <div>
                    {% if every_match.KDA > 5 %}
                  <div class="text-block-26" id="KDA" style="color:rgb(255, 148, 23)">{{every_match.KDA}} KDA</div>
                    {% elif every_match.KDA < 5 and every_match.KDA > 2.5 %}
                    <div class="text-block-26" id="KDA" style="color:rgb(196, 168, 137)">{{every_match.KDA}} KDA</div>
                    {% else %}
                    <div class="text-block-26" id="KDA" style="color:rgb(151, 141, 135)">{{every_match.KDA}} KDA </div>
                    {% endif %}
                </div>
                <div>
                  <div class="text-block-27" id="score">{{every_match.kills}} / {{every_match.deaths}} / {{every_match.assist}}</div>
                </div>
              </div>
              <div id="w-node-78868ea5d1d1-1894b350" class="div-block-85" id="vision_and_kp">
                <div class="text-block-28" id="vis">{{every_match.vis_per_minute}} Vis/min.</div>
                <div class="text-block-29" id="kp">{{every_match.kill_participation}}% KP</div>
              </div>
              <div id="cs_score">
                <div class="text-block-31" id="cs_per_minute" >{{every_match.cs_per_min}} CS/min.</div>
                <div class="text-block-30" id="cs_total" >{{every_match.total_cs}} CS</div>
              </div>
              <div class="div-block-86" id="dmg_per_match">
                <div class="text-block-32" id="dmg_per_minute">{{every_match.damage_per_minute}} DMG/min.</div>
                <div class="text-block-33" id="dmg_team_prc">{{every_match.dmg_percentage_per_team}}% of team</div>
              </div>
              <div id="w-node-235af3a9cdfc-1894b350" class="div-block-87" id="match_timer_type">
                <div class="text-block-35" id="match_time">{{every_match.game_duration}}</div>
                <div class="text-block-34" id="match_type">{{every_match.game_type}}</div>
              </div>

            </div>
            </a>
            {% endfor %}
            </div>


          </div>
        </div>
      </div>
    </div>
</div>


<div id="upload_gameplaymodal" class="myModal_upload_form">
  <div class="modal-content_upload_gameplay">
      <span class="close" id="close_modal">&times;</span>
<div class="upload_gameplay_form_container">

  <div class="upload_gameplay_form w-form">
    <div id="email-form" name="email-form" data-name="Email Form" class="upload_gameplay_form">
      <label for="video_url" class="video_url_label">Video Url (Youtube embed)</label>
      <input type="text" class="w-input" maxlength="256" name="video_url" data-name="Name" placeholder="" id="video_url">
      <label for="video_url" class="video_url_label">Course</label>
      <select id="course_name" name="course_name" data-name="Role" class="w-select">
        {% for course in courses_with_acces %}
        <option value="{{course.id}}" name="receiver">{{course.course_name}}</option>
        {% endfor %}

      </select>
      <label for="position_played" class="position_played_label">Position Played</label>
      <select class="w-select" id="position_played" name="position_played">
        <option value="MIDLANE" name="MIDLANE">MIDLANE</option>
        <option value="TOPLANE" name="MIDLANE">TOPLANE</option>
        <option value="JUNGLE" name="MIDLANE">JUNGLE</option>
        <option value="BOTLANE" name="MIDLANE">BOTLANE</option>
        <option value="SUPPORT" name="MIDLANE">SUPPORT</option>
      </select>
      <button  data-wait="Please wait..." class="submit-button w-button" onclick="submitFeedbackForm()">Upload Gameplay</button>
      <div id="message_container"></div>
    </div>


</div>
</div>
</div>
</div>
<div id="messages_modal" class="myModal_messages_form">
    <div class="modal-content_messages">
      <div class="messages_container">
        <div class="messages_wrapper">

          <div class="left_column_msg">
            {% for message in messages_set %}
            <div class="message_icon_cont" id={{message.id}} onclick="displayMessage(this.id),messageRead(this.id)">
              <div class="icon_cont">
                <img src="static/{{message.sender.tutor.profile_pic}}" width="100" height="80" alt="" class="image" >
              </div>
              <div class="single_message_container">
                <div class="sender_column">
                  <div>Sent by: {{message.sender.username}}</div>
                </div>
                <div class="subject_time_column">
                  {% if message.new_message %}
                  <div class="subject" style="color:blue;" id="message_read_{{message.id}}">
                    <div><b>{{message.subject}}</b></div>
                  </div>
                    {% else %}
                    <div class="subject">
                      <div><b>{{message.subject}}</b></div>
                    </div>
                    {% endif %}
                  <div class="time-column">
                    <div>{{message.date_sent}}</div>
                  </div>

                </div>

              </div>
            </div>

            {% endfor %}
          </div>
          <div class="right_column_msg" id="right_column_msg_first">
            <span class="close" id="close_msg_modal" onclick="closeModal()">&times;</span>
            <div class="title_section_msg">

              <h2>{{messages_set.first.subject}}</h2>

             </div>
             <div class="sender_detail_columns">
               <div class="sender_icon">
                 <img src="static/{{messages_set.first.sender.tutor.profile_pic}}" width="60" height="60" alt="" class="image">
               </div>
               <div class="sender_name_time">
                 <div class="sender_name">
                   <div>{{messages_set.first.sender}} </div>
                 </div>
                 <div class="send_time">
                   <div>{{messages_set.first.date_sent}}</div>
                 </div>
               </div>
             </div>
             <div class="message_body">
               <div>{{messages_set.first.body}}</div>
             </div>
             <div class="reply_container">
               <div class="reply_form w-form">
                 <form id="email-form" name="email-form" data-name="Email Form" class="reply_form_body">
                   <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="reply_body w-input"></textarea>
                   <input type="submit" value="Send Message" data-wait="Please wait..." class="w-button"></form>
                </div>
              </div>
            </div>
            {% for message in messages_set %}
            <div style="display: none;" class="right_column_msg" id="right_column_{{message.id}}">
              <span class="close" id="close_msg_modal" onclick="closeModal()">&times;</span>
              <div class="title_section_msg">

                <h2>{{message.subject}}</h2>

               </div>
               <div class="sender_detail_columns">
                 <div class="sender_icon">
                   <img src="static/{{message.sender.tutor.profile_pic}}" width="60" height="60" alt="" class="image">
                 </div>
                 <div class="sender_name_time">
                   <div class="sender_name">
                     <div>{{message.sender}} </div>
                   </div>
                   <div class="send_time">
                     <div>{{message.date_sent}}</div>
                   </div>
                 </div>
               </div>
               <div class="message_body">
                 <div>{{message.body}}</div>
               </div>
               <div class="reply_container">
                 <div class="reply_form w-form">
                   <form id="email-form" name="email-form" data-name="Email Form" class="reply_form_body">
                     <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="reply_body w-input"></textarea>
                     <input type="submit" value="Send Message" data-wait="Please wait..." class="w-button"></form>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
</div>



<div class="section">
  <div class="text-block-5">Sorry Dashboard is not available<br> in portrait mode.<br>To acces Dashboard turn your phone sideways.</div><img src="{% static "images/rotate_phone.svg"  %}" width="120" height="120" alt=""></div>

  <script src="{% static "js/dashboard.js" %}" type="text/javascript"></script>
{% endblock %}
