{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_tutor_application">
    <div id="w-node-4bf5daaefd13-06e5eff5" class="tutor_application">
      <div class="cont_content">
        <div class="upper_content">
          <div class="upper_upper_content">
            <div class="upper_text"><strong>We only work with the        <br>top </strong><span><strong class="bold-text">1%</strong></span><strong> of all players globally.</strong></div>
          </div>
          <div class="upper_lower_content">
            <div class="apply_tutor_btn_box"><a href="#" class="button-8 w-button"><strong>APPLY TO BECOME A TUTOR</strong></a>
              <div class="text-block-37">By clicking &quot;Apply to coach&quot;, you agree to the ProGuides <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></div>
            </div>
            <div class="ranked_helmets_container">
              <img src="{% static "images/diamond_1.png" %}" width="40" height="40" alt="">
              <img src="{% static "images/Season_2019_-_Master_1.png" %}" width="50" height="50" alt="">
              <img src="{% static "images/Season_2019_-_Grandmaster_1.png" %}" width="60" height="60" alt="">
              <img src="{% static "images/Season_2019_-_Challenger_1.png" %}" width="70" height="70" alt=""></div>
          </div>
        </div>
        <div class="lower_container">
          <div class="img_cont"><img src="{% static "images/game-banner.png" %}" width="150" height="" style="z-index: 1;"  sizes="(max-width: 479px) 77vw, 150px" alt="" class="image-19"></div>
          <div class="join_text_wrapper">
            <div class="text-block-38">Join Champions Factory. Make a living teaching video games. Right this instant.    </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}
