{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="main_content_tutor_dashboard">
    <div class="div-block-74">

      <div class="tutor_dashboard">
        <div id="w-node-e50959382014-326bfc20" class="div-block-50">
          <div class="div-block-11">
            <div id="w-node-bc10afb71f7a-326bfc20" class="div-block-13">
              <div id="w-node-e344d96fb735-326bfc20" class="div-block-14"><img src="static/{{tutor_pic}}" alt="" class="tutor_profile_pic" height="120" width="120">
                <div class="text-block-6">Mentor: {{user.username}}</div>
                <div class="text-block-6">Last Login: {{last_login}}</div>
                <a style="color:white;" class="msgLink" id="messages_btn_dash">Messages{% if number_of_messages > 0 %}(<strong style="color:red;">{{number_of_messages}}</strong>) {% endif %}</a>

              </div>
            </div>
            <div id="w-node-e156d143c781-326bfc20" class="div-block-17">
              <div id="w-node-89cc7dd5cd67-326bfc20" class="div-block-26">
                <div class="text-block-7">Replays Awaiting feedback</div>
                {% for feedback in feedback_set %}
                <div class="div-block-20" id="div_{{feedback.id}}">
                  <div id="w-node-acc607f20268-326bfc20"><img src="static/profile_icon/{{feedback.feedback_sender.profile.profile_icon_id}}.png" alt="" class="image-4 {{feedback.feedback_sender.profile.current_tier}}"></div>
                  <div>
                    <div class="text-block-9 {{feedback.feedback_sender.profile.current_tier}}">Rank: {{feedback.feedback_sender.profile.current_tier}} {{feedback.feedback_sender.profile.current_rank }}</div>
                    <div class="text-block-9">Username: {{feedback.feedback_sender.username}}<br>Position: {{feedback.position_played}}</div>
                  </div>
                  <div id="w-node-acc607f20271-326bfc20"><img src="{% static "images/video_play.svg" %}" alt="" class="image-10 {{feedback.feedback_sender.profile.current_tier}}" id="{{feedback.id}}" onclick="playFeedback(this.id)"></div>
                  <input id="video_url_{{feedback.id}}" type="hidden" name="video_url" value="{{feedback.feedback_url}}">
                </div>
                {% endfor %}


              </div>
            </div>
          </div>
          <div class="div-block-12">
            <div class="div-block-21">
              <div id="w-node-2983bb77dc53-326bfc20" class="div-block-37">
                <h3 class="heading-2">MY COURSES</h3>
              </div>
              <div class="div-block-23">
            {% for course in course_set %}
                <div id="w-node-60800d159221-326bfc20" class="div-block-24" ><img src="static/{{course.image_field}}" width="220" height="150"   alt="" class="image-5">
                  <div id="w-node-f3616ab8fa3a-326bfc20" class="div-block-25">
                    <div class="text-block-10">Course Name: {{course.course_name}}<br>Views: {{course.views}}<br>Rating: {{course.ratings}} / 5 <br> Buys: {{course.buys}} <br> <a href="#"><strong> Edit</strong></a> </div>
                  </div>
                </div>

                {% endfor %}
              </div>
            </div>
            <div class="div-block-22">
              <div id="w-node-b0ec01f3623b-326bfc20" class="div-block-39">
                <h3 class="heading-3">FEEDBACK</h3>
              </div>
              <div id="w-node-9b838ac28652-326bfc20" class="div-block-38">
                <div style="padding-top:56.17021276595745%" class="video w-video w-embed">
                  <iframe id="video_playback_field" class="embedly-embed" src="{{feedback_set.first.feedback_url}}" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe>
                  <input type="hidden" id="feedback_id" name="feedback_id" value="{{feedback_set.first.id}}"></input>
                </div>
              </div>
              <div class="div-block-27">
                <div class="form-block-5 w-form">
                  <div id="email-form" name="email-form" data-name="Email Form" class="form-2">
                    <div class="div-block-28"><label class="field-label-5">GRADE</label>
                      <select id="Grade" name="Grade" data-name="Grade" class="select-field-2 w-select">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                      </select>
                    </div>
                    <label class="field-label-5">NOTES</label>
                    <div class="div-block-29">
                      <textarea type="text" class="text-field-3 w-input" rows="6" cols="50" name="field-2" data-name="Field 2" placeholder="Notes Here..." id="feedback_text" required=""></textarea>
                    </div>
                  </div>

                </div>
                <div id="w-node-e47a32c583c9-326bfc20"><button class="button-4 w-button"  onclick="sendFeedback()">Send Feeback</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="messages_modal" class="myModal_messages_form">
          <div class="modal-content_messages">
            <div class="messages_container">
              <div class="messages_wrapper">

                <div class="left_column_msg">
                  {% for message in messages_set %}

                  <div class="message_icon_cont"  id={{message.id}} onclick="displayMessage(this.id),messageRead(this.id)">
                    <div class="icon_cont">
                      <img src="static/profile_icon/{{message.sender.profile.profile_icon_id}}.png" width="100" height="80" alt="" class="image" >
                    </div>
                    <div class="single_message_container">
                      <div class="sender_column">
                        <div>Sent by: {{message.sender.username}}</div>
                      </div>
                      <div class="subject_time_column">
                        {% if message.new_message %}
                        <div class="subject" style="color:blue;" id="message_read_{{message.id}}">
                          <div><b>{{message.subject}}</b></div>
                        </div>
                          {% else %}
                          <div class="subject">
                            <div><b>{{message.subject}}</b></div>
                          </div>
                          {% endif %}
                        <div class="time-column">
                          <div>{{message.date_sent}}</div>
                        </div>

                      </div>

                    </div>
                  </div>

                  {% endfor %}
                </div>
                <div class="right_column_msg" id="right_column_msg_first">
                  <span class="close" id="close_msg_modal" onclick="closeModal()">&times;</span>
                  <div class="title_section_msg">

                    <h2>{{messages_set.first.subject}}</h2>

                   </div>
                   <div class="sender_detail_columns">
                     <div class="sender_icon">
                       <img src="static/profile_icon/{{messages_set.first.sender.profile.profile_icon_id}}.png" width="60" height="60" alt="" class="image">
                     </div>
                     <div class="sender_name_time">
                       <div class="sender_name">
                         <div>{{messages_set.first.sender}} </div>
                       </div>
                       <div class="send_time">
                         <div>{{messages_set.first.date_sent}}</div>
                       </div>
                     </div>
                   </div>
                   <div class="message_body">
                     <div>{{messages_set.first.body}}</div>
                   </div>
                   <div class="reply_container">
                     <div class="reply_form w-form">
                       <form id="email-form" name="email-form" data-name="Email Form" class="reply_form_body">
                         <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="reply_body w-input"></textarea>
                         <input type="submit" value="Send Message" data-wait="Please wait..." class="w-button"></form>
                      </div>
                    </div>
                  </div>
                  {% for message in messages_set %}
                  <div style="display: none;" class="right_column_msg" id="right_column_{{message.id}}">
                    <span class="close" id="close_msg_modal" onclick="closeModal()">&times;</span>
                    <div class="title_section_msg">

                      <h2>{{message.subject}}</h2>

                     </div>
                     <div class="sender_detail_columns">
                       <div class="sender_icon">
                         <img src="static/profile_icon/{{message.sender.profile.profile_icon_id}}.png" width="60" height="60" alt="" class="image">
                       </div>
                       <div class="sender_name_time">
                         <div class="sender_name">
                           <div>{{message.sender}} </div>
                         </div>
                         <div class="send_time">
                           <div>{{message.date_sent}}</div>
                         </div>
                       </div>
                     </div>
                     <div class="message_body">
                       <div>{{message.body}}</div>
                     </div>
                     <div class="reply_container">
                       <div class="reply_form w-form">
                         <form id="email-form" name="email-form" data-name="Email Form" class="reply_form_body">
                           <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="reply_body w-input"></textarea>
                           <input type="submit" value="Send Message" data-wait="Please wait..." class="w-button"></form>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div>
      </div>






      <div class="section">
        <div class="text-block-5">Sorry Dashboard is not available<br> on mobile devices.</div>
      </div>

      {% endblock %}
