{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="main_content_tutor_dashboard">
    <div class="div-block-74">

      <div class="tutor_dashboard">
        <div id="w-node-e50959382014-326bfc20" class="div-block-50">
          <div class="div-block-11">
            <div id="w-node-bc10afb71f7a-326bfc20" class="div-block-13">
              <div id="w-node-e344d96fb735-326bfc20" class="div-block-14"><img src="{% static "images/UIHere.png" %}" alt="">
                <div class="text-block-6">Mentor: &lt;Username&gt;</div>
                <div class="text-block-6">Last Login: &lt;Login date&gt;</div><a href="#" class="button-6 w-button">Logout</a></div>
            </div>
            <div id="w-node-e156d143c781-326bfc20" class="div-block-17">
              <div id="w-node-89cc7dd5cd67-326bfc20" class="div-block-26">
                <div class="text-block-7">Replays Awaiting feedback</div>
                <div class="div-block-20">
                  <div id="w-node-acc607f20268-326bfc20"><img src="{% static "images/user_logo_test.png" %}" alt="" class="image-4"></div>
                  <div>
                    <div class="text-block-8">Rank: GOLD</div>
                    <div class="text-block-9">Champion: Rakkan<br>Position: Support</div>
                  </div>
                  <div id="w-node-acc607f20271-326bfc20"><img src="{% static "images/video_play.svg" %}" alt="" class="image-10"></div>
                </div>

                
              </div>
            </div>
          </div>
          <div class="div-block-12">
            <div class="div-block-21">
              <div id="w-node-2983bb77dc53-326bfc20" class="div-block-37">
                <h3 class="heading-2">MY COURSES</h3>
              </div>
              <div class="div-block-23">
                <div id="w-node-60800d159221-326bfc20" class="div-block-24"><img src="{% static "images/Video-Thumbnails-sml-1280x995.55555555556-c-default.jpg" %}" width="220" height="150"  sizes="(max-width: 767px) 100vw, (max-width: 991px) 115.7906494140625px, 220px" alt="" class="image-5">
                  <div id="w-node-f3616ab8fa3a-326bfc20" class="div-block-25">
                    <div class="text-block-10">Course Name: ADC 101<br>Views: 1024505<br>Rating: 3.75 / 5</div>
                  </div>
                </div>
                <div class="div-block-24"><img src="{% static "images/Video-Thumbnails-sml-1280x995.55555555556-c-default.jpg" %}" width="220" height="150"  sizes="(max-width: 767px) 100vw, (max-width: 991px) 115.79058837890625px, 220px" alt="" class="image-6">
                  <div id="w-node-f998c57e8506-326bfc20" class="div-block-25">
                    <div class="text-block-10">Course Name: ADC 101<br>Views: 1024505<br>Rating: 3.75 / 5</div>
                  </div>
                </div>
                <div class="div-block-24"><img src="{% static "images/Video-Thumbnails-sml-1280x995.55555555556-c-default.jpg" %}" width="220" height="150" sizes="(max-width: 767px) 100vw, (max-width: 991px) 115.7906494140625px, 220px" alt="" class="image-7">
                  <div id="w-node-5bc159ae7aab-326bfc20" class="div-block-25">
                    <div class="text-block-10">Course Name: ADC 101<br>Views: 1024505<br>Rating: 3.75 / 5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-22">
              <div id="w-node-b0ec01f3623b-326bfc20" class="div-block-39">
                <h3 class="heading-3">FEEDBACK</h3>
              </div>
              <div id="w-node-9b838ac28652-326bfc20" class="div-block-38">
                <div style="padding-top:56.17021276595745%" class="video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FuxAvTiWnn9A%3Fstart%3D1%26feature%3Doembed%26start%3D1&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DuxAvTiWnn9A&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FuxAvTiWnn9A%2Fhqdefault.jpg&args=start%3D1&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
              </div>
              <div class="div-block-27">
                <div class="form-block-5 w-form">
                  <form id="email-form" name="email-form" data-name="Email Form" class="form-2">
                    <div class="div-block-28"><label class="field-label-5">GRADE</label><select id="Grade" name="Grade" data-name="Grade" class="select-field-2 w-select"><option value="">A</option><option value="First">B</option><option value="Second">C</option><option value="Third">D</option></select></div><label class="field-label-5">NOTES</label>
                    <div class="div-block-29"><textarea type="text" class="text-field-3 w-input" rows="6" cols="50" name="field-2" data-name="Field 2" placeholder="Notes Here..." id="field-2" required=""></textarea></div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
                <div id="w-node-e47a32c583c9-326bfc20"><a href="#" class="button-4 w-button">Send Feeback</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="text-block-5">Sorry Dashboard is not available<br> on mobile devices.</div>
      </div>
      {% endblock %}
