{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="video_content">

    <div id="w-node-74762af4033e-1a20d400" class="video_player_main">
      <div class="div-block-video_player">
        <div class="div-block-75">
          {% for section in sections %}
          <div class="div-block-77">
            <div class="text-block-24">{{ section.section_title }}</div><img src="{% static "images/play-button-1.svg"  %}" width="30" height="30" alt="{{section.order}}" class="playButton" id="indexBtn" onclick="getVideo(this.alt)"></div>
            <input type="hidden" name="{{section.section_title}}" id="section_url{{section.order}}" value="{{section.video_url}}">
            <input type="hidden" name="{{section.section_description}}" id="{{section.order}}" value="{{section.section_description}}">
            {% endfor %}


        </div>
        <div class="div-block-76">
          <div>
            <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe src="{{sections.first.video_url}}" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true" id="video_frame"></iframe></div>
          </div>
          <div class="div-block-78">
            <h2 class="heading-10">About</h2>
            <p class="paragraph-2" id="paragraph_section">{{sections.first.section_description}}</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
