{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="video_content">
    
    <div id="w-node-74762af4033e-1a20d400" class="video_player_main">
      <div class="div-block-video_player">
        <div class="div-block-75">
          <div class="div-block-77">
            <div class="text-block-24">1. Course Intro</div><img src="{% static "images/play-button-1.svg"  %}" width="30" height="30" alt=""></div>
          <div class="div-block-77">
            <div class="text-block-24">2. Laning Phase</div><img src="{% static "images/play-button-1.svg"  %}" width="30" height="30" alt=""></div>
          <div class="div-block-77">
            <div class="text-block-24">3. Jungle Pathing</div><img src="{% static "images/play-button-1.svg" %}" width="30" height="30" alt=""></div>
          <div class="div-block-77">
            <div class="text-block-24">4. Farming</div><img src="{% static "images/play-button-1.svg" %}" width="30" height="30" alt=""></div>
          <div class="div-block-77">
            <div class="text-block-24">5. Counter Builds</div><img src="{% static "images/play-button-1.svg" %}" width="30" height="30" alt=""></div>
          <div class="div-block-77">
            <div class="text-block-24">6. Mechanics</div><img src="{% static "images/play-button-1.svg" %}" width="30" height="30" alt=""></div>
          <div class="div-block-77">
            <div class="text-block-24">7. Strategies</div><img src="{% static "images/play-button-1.svg" %}" width="30" height="30" alt=""></div>
        </div>
        <div class="div-block-76">
          <div>
            <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FPiG0xLA6NmE%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPiG0xLA6NmE&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FPiG0xLA6NmE%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
          </div>
          <div class="div-block-78">
            <h2 class="heading-10">About</h2>
            <p class="paragraph-2">This course will teach you the concept of lane priority. You&#x27;ll learn exactly what lane priority is, how to take it, and how to use it to the fullest. By the end of this course, you&#x27;ll know the ins and outs of lane priority and significantly level up your macro play!</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
